
<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="background-wrapper justify-content-center">
    <div class="login-card">
    <div class="login-header">Create Account</div>

    <form #userForm="ngForm" (ngSubmit)="createAccount(userForm)">
      <input type="namr" class="form-control" placeholder="User_Name" name="user_name" ngModel>
      <input type="number" class="form-control" placeholder="Mobile" name="mobile" ngModel>
      <input type="email" class="form-control" placeholder="Email" name="email" ngModel>
      <input type="password" class="form-control" placeholder="password" name="password" ngModel>
      <input type="password" class="form-control" placeholder="Re-Enter your password" name="confirm_password" ngModel>
      <button type="submit" class="btn btn-custom">Submit</button>
      <br><br><br>
    </form>
  </div> 
</div>

  </div>
</div>



   




