.main{
    margin-top: 140px;
}
.table{
    width: 90%;
    justify-content: center !important;
    margin-left: 5%;
}
.meal-img{
    height: 100px;
    width: 40px;
}
.order-btn {
      background-color: green;
      color: #fff;
      font-weight: bold;
      border-radius: 8px;
      height: 50px;
      margin-left: 580px;
    }
.total{
    margin-left: 1200px;
    }
  