<div class="position-fixed top-0 start-0 end-0 z-3">
  <app-navbar></app-navbar>
</div>

<div class="main">
 
           <table class="table table-bordered align-middle shadow-sm">
  <thead class="table-light text-center">
    <tr>
      <th>#</th>
      <th>Cloud Kitchen</th>
      <th>Meal Photo</th>
      <th>Meal Name</th>
      <th>Unit Price (₹)</th>
      <th>Quantity</th>
      <th>Total (₹)</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let meal of meals; let i = index" class="text-center">
      <td>{{ i + 1 }}</td>
      <td>{{ data.cloudKitchenName }}</td>
      <td>
        <img [src]="meal.mealPhotos" class="img-thumbnail" alt="" style="width: 70px; height: 70px; object-fit: cover;">
      </td>
      <td class="fw-semibold">{{ meal.mealName || '-' }}</td>
      <td>{{ meal.unitPrice || '-' }}</td>

      <!-- Quantity Controls -->
      <td>
        <div class="d-flex justify-content-center align-items-center">
          <button (click)="changeQuantity({items:[{mealId: meal.mealId,quantity: meal.quantity-1}]})">-</button>
          <span class="fw-bold px-2">{{ meal.quantity }}</span>
          <button class="" (click)="changeQuantity({items:[{mealId: meal.mealId,quantity: meal.quantity+1}]})">+</button>
        </div>
      </td>

      <td class="fw-bold text-success">{{ (meal.unitPrice || 0) * meal.quantity }}</td>
      <td>
         
         <div class="text-danger" style="cursor: pointer;">
        
        <i class="bi bi-trash text-danger h4" (click)="removeItem(meal.mealId)"></i>
         </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- Cart Footer -->
<div class=" justify-content-between align-items-center mt-3 p-3 border-top ">
  <h5 class="mb-0 total">Total Amount: 
    <span class="text-primary fw-bold">₹ {{ getGrandTotal() }}</span>
  </h5>
</div>
 
        <button class="btn order-btn w-25 mt-5" routerLink="/place_order">Place Order </button>

 </div>


