<nav class="navbar navbar-expand-lg navbar-collapse">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Tiffino</a> -->
       <div class="logo">
        <!-- <img src="./../../../assets/images/shidori_logo.png" alt="" class="shidori_logo"> -->
       <h1 class="fw-bold ">Sh<span class="text-danger">i</span>dor<span class="text-danger">i </span>k<span class="text-danger">i</span>tchen
       </h1>
       
       </div>
      
      <div class="collapse navbar-collapse  ml-5" style="margin-left: 250px;">
        <ul class="navbar-nav me-auto mb-2 -3">
        
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " href="/helps">Help</a>
          </li>
            <li class="nav-item" >
            <a class="nav-link active " href="/user_subscription">Subscription</a>

            </li>
          
          
          <li class="nav-item">
            <a class="nav-link active"  href="#"> Gift Card</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Cart</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link active" href="#">Sign In</a>
          </li> -->
          

        </ul>
       <div>


    <div class="dropdown">
  <!-- Profile Icon -->
  <i *ngIf="isLoggedIn" class="bi bi-person-circle h1"
     role="button"
     id="profileDropdown"
     data-bs-toggle="dropdown"
     aria-expanded="false"
     style="cursor:pointer"
     >
  </i>

  <!-- Dropdown Menu -->
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
    <li><a class="dropdown-item" routerLink="/profile"><i class="bi bi-person"></i>My Profile</a></li>
    <li><a class="dropdown-item" routerLink="/orders"><i class="bi bi-bag"></i>My Orders</a></li>
    <li><a class="dropdown-item" routerLink="/settings"><i class="bi bi-gear"></i>Settings</a></li>
    <li><a class="dropdown-item text-danger" (click)="logout()"><i class="bi bi-box-arrow-right"></i>
        Logout</a></li>
  </ul>
</div>
     <button *ngIf="!isLoggedIn" class="btn btn-outline-light login-btn w-100"routerLink="/login" type="submit">Sign In</button>
      </div>
        
      </div>
    </div>
  </nav>
