<nav class="navbar navbar-expand-lg navbar-collapse">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Tiffino</a> -->
       <div class="logo">
        <!-- <img src="./../../../assets/images/shidori_logo.png" alt="" class="shidori_logo"> -->
       <h1 class="fw-bold ">Sh<span class="text-danger">i</span>dor<span class="text-danger">i </span>k<span class="text-danger">i</span>tchen
       </h1>
       
       </div>
      
      <div class="collapse navbar-collapse  ml-5" style="margin-left: 150px;">
        <ul class="navbar-nav me-auto mb-2 -3">
        
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " href="/helps">Help</a>
          </li>
          <div class="dropdown">
            <li class="dropdown-toggle" type="" data-bs-toggle="dropdown" aria-expanded="false">
                Subscription
            </li>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">daily</a></li>
              <li><a class="dropdown-item" href="#">weekly</a></li>
              <li><a class="dropdown-item" href="#">monthly</a></li>
            </ul>
          </div>
          
          <li class="nav-item">
            <a class="nav-link active"  href="#"> Gift Card</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Sign In</a>
          </li>
          
          
        </ul>
        <div>
        <button class="btn btn-outline-light w-100"routerLink="/login" type="submit">Sign In</button>
         </div>
        

      </div>
    </div>
  </nav>
