

.navbar {
  border-radius: 12px;
}

/* .navbar-brand {
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: white;
} */

/* .main {
  margin-top: 00px;
  background: #fff;
  border-radius: 15px;
} */
.button{
  margin-left: 190px !important;
}