<div class="position-fixed top-0 start-0 end-0 z-3">
  <app-navbar></app-navbar>
</div>


<div class="container mt-4 d-flex justify-content-center">
  <div class="card shadow p-4">
    <h3 class="text-center mb-3 fw-bold">Get Subscription Plans</h3>
    <form>

      <!-- Subscription Type -->
     <div class="mb-3">
      <label for="duration" class="form-label">Subscription Type</label>
      <select class="form-select custom-border" aria-label="Default select example" formControlName="" placeholder="Duration Type">
        <option value="">Select Subscription Type</option>
        <option >ONE_DAY</option>
        <option >WEEKLY</option>
        <option >QUARTERLY</option>
        <option >MONTHLY</option>
      </select>
    </div>

      <!-- Meals -->
      <div class="mb-3">
      <label for="duration" class="form-label">Meals</label>
      <select class="form-select custom-border" aria-label="Default select example" formControlName="" placeholder="Duration Type">
        <option value="">Select Meals</option>
        <option >BreakFast</option>
        <option >Lunch</option>
        <option >Hity</option>
        <option >Dinner</option>
      </select>
    </div>

      <!-- Allergies -->
     <div class="mb-3">
      <label for="duration" class="form-label">Allergies</label>
      <select class="form-select custom-border" aria-label="Default select example" formControlName="" placeholder="Duration Type">
        <option value="" >Select Allergies</option>
        <option ></option>
        <option ></option>
        <option ></option>
        <option ></option>
        <option ></option>
      </select>
    </div>

      <!-- Dietary Preference -->
    <div class="mb-3">
      <label for="duration" class="form-label">Dietary Preference</label>
      <select class="form-select custom-border" aria-label="Default select example" formControlName="" placeholder="Duration Type">
        <option value="" >Select Dietary Preference</option>
        <option ></option>
        <option ></option>
        <option ></option>
        <option ></option>
        <option ></option>
      </select>
    </div>

      <!-- Submit -->
      <button type="submit" class="button border-0 w-100 text-white p-1 mt-3 mb-2">Submit</button>
    </form>
  </div>
</div>

