<div class="position-fixed top-0 start-0 end-0 z-3">
    <app-navbar></app-navbar>
</div>

<div class="container mt-4 d-flex justify-content-center">
    <div class="card shadow p-4">
        <h3 class="text-center mb-3 fw-bold">Get Subscription Plans</h3>
  <div class="mb-3">
                <label for="duration"class="form-label">Subscription Type</label>
                <select class="form-select custom-border"aria-label="Default select example"placeholder="Duration Type">
                    <option value>Select Subscription Type</option>
                    <option>ONE_DAY</option>
                    <option>WEEKLY</option>
                    <option>QUARTERLY</option>
                    <option>MONTHLY</option>
                </select>
            </div>

           <div class="mb-">
             <label for="duration"class="form-label">Meals</label>
              <mat-form-field appearance="outline" class="w-100">
              <mat-select  multiple class="" placeholder="Select meal">
               <mat-option >####</mat-option>
               <mat-option >####</mat-option>
               <mat-option >####</mat-option>
               <mat-option >####</mat-option>
              </mat-select>
              </mat-form-field>
            </div>



            <div class="mb-">
              <label for="duration"class="form-label">Allergies</label>
                <mat-form-field appearance="outline" class="w-100">
                 <mat-select formControlName="toppings" multiple class="" placeholder="Select Allergies">
                 <mat-option >####</mat-option>
                 <mat-option >####</mat-option>
                 <mat-option >####</mat-option>
                 <mat-option >####</mat-option>
                 </mat-select>
                </mat-form-field>
            </div>


            <div class="mb-3">
              <label for="duration"class="form-label">Dietary Preference</label>
                <mat-form-field appearance="outline" class="w-100">
                <mat-select  multiple class="" placeholder="Dietary Preference">
                 <mat-option >####</mat-option>
                 <mat-option >####</mat-option>
                 <mat-option >####</mat-option>
                 <mat-option >####</mat-option>
                 </mat-select>
               </mat-form-field>
            </div>

        <button type="submit" class="button border-0 w-100 text-white p-1 mt-1 mb-2">Submit</button>
            
        </div>
        </div>

