<!-- <div class="container d-flex justify-content-center">
  <div class="card shadow p-3">
    <h3 class="text-center fw-bold">Add Cuisine</h3>
    <form [formGroup]="addCuisineForm" (ngSubmit)="addCuisine()">

      <div class="mb-2">
        <label for="" class="form-label">Cuisine Name</label>
        <input type="text" id="" class="form-control custom-border" formControlName="name" required>
      </div>

      <div class="mb-2">
        <label for="state" class="form-label">State</label>
        <input type="text" class="form-control custom-border" formControlName="state" rows="3">
      </div>

      <div class="mb-2">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control custom-border" formControlName="description" rows="3"></textarea>
      </div>

       <div class="mb-2">
              <label class="form-label">Cuisine Photo</label>
              <input type="file" class="form-control" (change)="onFileSelect($event, 'cuisinePhoto')" required />
            </div>

      <button type="submit" class="button border-0 w-100 text-white p-1 mt-3 mb-2">Submit</button>
    </form>
  </div>
</div> -->



<div class="container d-flex justify-content-center">
  <div class="card shadow p-3">
    <h3 class="text-center fw-bold">Add Cuisine</h3>
    <form [formGroup]="addCuisineForm" (ngSubmit)="addCuisine()">

      <div class="mb-2">
        <label class="form-label">Cuisine Name</label>
        <input type="text" class="form-control custom-border" formControlName="name">
        <small class="text-danger" *ngIf="addCuisineForm.get('name')?.invalid && addCuisineForm.get('name')?.touched">
          Name is required
        </small>
      </div>

      <div class="mb-2">
        <label class="form-label">State</label>
        <input type="text" class="form-control custom-border" formControlName="state">
        <small class="text-danger" *ngIf="addCuisineForm.get('state')?.invalid && addCuisineForm.get('state')?.touched">
          State is required
        </small>
      </div>

      <div class="mb-2">
        <label class="form-label">Description</label>
        <textarea class="form-control custom-border" formControlName="description" rows="3"></textarea>
        <small class="text-danger" *ngIf="addCuisineForm.get('description')?.invalid && addCuisineForm.get('description')?.touched">
          Description is required
        </small>
      </div>

      <div class="mb-2">
        <label class="form-label">Cuisine Photo</label>
        <input type="file" class="form-control" (change)="onFileSelect($event, 'cuisinePhoto')">
        <small class="text-danger" *ngIf="addCuisineForm.get('cuisinePhoto')?.invalid && addCuisineForm.get('cuisinePhoto')?.touched">
          Photo is required
        </small>
      </div>

      <button type="submit" class="button border-0 w-100 text-white p-1 mt-3 mb-2">
        Submit
      </button>
    </form>
  </div>
</div>


