<div class="position-fixed top-0 start-0 end-0 z-3">
  <app-navbar></app-navbar>
</div>
<div class="overflow-auto">
<!-- Search bar -->
<div class="container mt-2">
  <div class="row justify-content-center">
  <div class="search-bar d-flex">
    <input type="text" class="form-control search-input flex-grow-1" placeholder="Search for food...">
    <i class="bi bi-search search-icon ms-2"></i>
  </div>
  </div>
</div>


<div class="container my-4 box1 ">
  <div class="row justify-content-center">
  
    <div class="col-md-12 mb-5 heading">What's on your mind?</div>
    <div class="d-flex w-100 overflow-auto">
    <!-- South Indian -->
    <div class="col-6 col-sm-4 col-md-2 mb-4 category-item">
      <img src="https://media.assettype.com/lucknowwants%2F2024-12-26%2Fk2sdk5z2%2FDosa.jpg?w=480&auto=format%2Ccompress&fit=max" alt="Chinese">
      <div>South Indian</div>
    </div>

    <!-- Pure Veg -->
    <div class="col-6 col-sm-4 col-md-2 mb-4 category-item">
      <img src="https://sukhis.com/app/uploads/2022/04/image1-6-1024x684.jpg" alt="Pure Veg">
      <div>West Bengal</div>
    </div>

    <!-- Maharastrian -->
    <div class="col-6 col-sm-4 col-md-2 mb-4 category-item">
      <img src="https://deih43ym53wif.cloudfront.net/idly-food-india-shutterstock_101041240_7bd8a6703f.jpeg" alt="Paratha">
      <div>Maharashtra</div>
    </div>

    <!-- North Indian -->
    <div class="col-6 col-sm-4 col-md-2 mb-4 category-item">
      <img src="https://images.moneycontrol.com/static-mcnews/2021/04/paratha_shutterstock_1641709639.jpg?impolicy=website&width=1280&height=720" alt="North Indian">
      <div>Gujarat</div>
    </div>

    <!-- Panjabi -->
    <div class="col-6 col-sm-4 col-md-2 mb-4 category-item">
      <img src="https://sukhis.com/app/uploads/2020/01/Dosa.jpg" alt="Khichdi">
      <div>Punjab</div>
    </div>

    <!-- Rajasthani -->
    <div class="col-6 col-sm-4 col-md-2 mb-4 category-item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Dosa_at_Sri_Ganesha_Restauran%2C_Bangkok_%2844570742744%29.jpg/960px-Dosa_at_Sri_Ganesha_Restauran%2C_Bangkok_%2844570742744%29.jpg" alt="Desserts">
      <div>Rajasthan</div>
    </div>

    <!-- North Indian -->
    <div class="col-6 col-sm-4 col-md-2 mb-4 category-item">
      <img src="https://images.moneycontrol.com/static-mcnews/2021/04/paratha_shutterstock_1641709639.jpg?impolicy=website&width=1280&height=720" alt="North Indian">
      <div>Gujarat</div>
    </div>

    <!-- Panjabi -->
    <div class="col-6 col-sm-4 col-md-2 mb-4 category-item">
      <img src="https://sukhis.com/app/uploads/2020/01/Dosa.jpg" alt="Khichdi">
      <div>Punjab</div>
    </div>

    <!-- Rajasthani -->
    <div class="col-6 col-sm-4 col-md-2 mb-4 category-item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Dosa_at_Sri_Ganesha_Restauran%2C_Bangkok_%2844570742744%29.jpg/960px-Dosa_at_Sri_Ganesha_Restauran%2C_Bangkok_%2844570742744%29.jpg" alt="Desserts">
      <div>Rajasthan</div>
    </div>
    </div>
  </div>
</div>




<div class="container my-5 box2">
  <h5 class="fw-bold mb-5 heading">You Might Also Like </h5>
    <div class="scroll-container" id="restaurantScroll">

      <!-- Card 1 -->
      <div class="shidori-card">
        <div class="position-relative">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxOZCG9_gyX0aHg9nPcQFLw5Wo6CCY0E3NUQ&s" class="img-fluid" alt="Shidori Kichan">
        </div>
        <div class="p-3">
          <h6 class="mb-1 fw-bold">Shidori Kitchen</h6>
          <div class="rating mb-1">⭐ 4.4 • 30–35 mins</div>
          <p class="text-muted small mb-1">Home-Style Meals</p>
          <p class="text-muted small">Pune-52</p>
        </div>
            <button class="btn btn-outline-success topcard_button">Add</button>
      </div>

      <!-- Card 2 -->
      <div class="shidori-card">
        <div class="position-relative">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQngrxUh-xvZjTxQr_j_MsyId9dxEZtaZPZvA&s" class="img-fluid" alt="Shidori Kichan">
        </div>
        <div class="p-3">
          <h6 class="mb-1 fw-bold">Shidori Kitchen</h6>
          <div class="rating mb-1">⭐ 4.7 • 45–55 mins</div>
          <p class="text-muted small mb-1">Home-Style Meals</p>
          <p class="text-muted small">Pune-52</p>
        </div>
            <button class="btn btn-outline-success topcard_button">Add</button>
      </div>

      <!-- Card 3 -->
      <div class="shidori-card">
        <div class="position-relative">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkRDvCfxP2qGvrirVu4m1y0-wrxDvVlzi6aA&s" class="img-fluid" alt="Shidori Kichan">
        </div>
        <div class="p-3">
          <h6 class="mb-1 fw-bold">Shidori Kitchen</h6>
          <div class="rating mb-1">⭐ 4.4 • 25–30 mins</div>
          <p class="text-muted small mb-1">Home-Style Meals</p>
          <p class="text-muted small">Pune-52</p>
        </div>
            <button class="btn btn-outline-success topcard_button">Add</button>
      </div>

      <!-- Card 4 -->
      <div class="shidori-card">
        <div class="position-relative">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSD8QRRNrNny42GoIvZTpS7EDS8lOYWjRLKRw&s" class="img-fluid" alt="Shidori Kichan">
        </div>
        <div class="p-3">
          <h6 class="mb-1 fw-bold">Shidori Kitchen</h6>
          <div class="rating mb-1">⭐ 4.3 • 40–50 mins</div>
          <p class="text-muted small mb-1">Home-Style Meals</p>
          <p class="text-muted small">Pune-52</p>
        </div>
            <button class="btn btn-outline-success topcard_button">Add</button>
      </div>

    </div>
</div>

<div class="container py-2">
  <h2 class="text-center fw-bold mb-4 text-uppercase">Subscription Plans</h2>
  <div class="row g-4 justify-content-center">

    <!-- Single Meal -->
    <div class="col-md-4">
      <div class="card pricing-card p-4 text-center h-100">
        <h4 class="fw-bold">Weekly</h4>
        <h5 class="text-muted">₹2999/month</h5>
        <!-- <p> Choose between lunch or dinner </p> -->
        <ul class="list-unstyled text-start justify-content-center">
          <!-- <li>✅ One meal per day</li> -->
          <li>✅ Free delivery</li>
          <li>✅ Weekly menu rotation</li>
          <li>✅ Priority support</li>
          <li>✅ Customizable menu</li>
        </ul>
        <button class="btn subscribe-btn w-100 mt-3">Subscribe Now</button>
      </div>
    </div>

    <!-- Two Meals -->
    <div class="col-md-4">
      <div class="card pricing-card p-4 text-center h-100 popular">
        <h4 class="fw-bold">Bi-Weekly</h4>
        <h5 class="text-muted">₹4499/month</h5>
        <!-- <p>Lunch and dinner covered</p> -->
        <ul class="list-unstyled text-start">
          <!-- <li>✅ Two meals per day</li> -->
          <li>✅ Free delivery</li>
          <li>✅ Weekly menu rotation</li>
          <li>✅ Priority support</li>
          <li>✅ Customizable menu</li>
        </ul>
        <button class="btn subscribe-btn w-100 mt-3">Subscribe Now</button>
      </div>
    </div>

    <!-- Full Day -->
    <div class="col-md-4">
      <div class="card pricing-card p-4 text-center h-100">
        <h4 class="fw-bold">Monthly</h4>
        <h5 class="text-muted">₹6999/month</h5>
        <!-- <p>Breakfast, Lunch, and Dinner</p> -->
        <ul class="list-unstyled text-start">
          <!-- <li>✅ Three meals per day</li> -->
          <li>✅ Free delivery</li>
          <li>✅ Weekly menu rotation</li>
          <li>✅ Priority support</li>
          <li>✅ Customizable menu</li>
        </ul>
        <button class="btn subscribe-btn w-100 mt-3">Subscribe Now</button>
      </div>
    </div>

  </div>
</div>
<div class="container py-5 cards">
  <h5 class="fw-bold py-5  heading">Order Food Online From Your Region  </h5>

  <div class="row g-4">

    <!-- Card Start -->
    <div class="col-md-3 col-sm-6">
      <div class="restaurant-card1">
        <div class="position-relative">
          <img src="https://philmaffetone.com/wp-content/uploads/2015/04/junk-food.jpg" class="w-100 restaurant-img" alt="Ganesh Bhuvan">
          <div class="discount-banner">₹50 OFF ABOVE ₹499</div>
        </div>
        <div class="p-3">
          <h6 class="mb-1">Shidori Kitchen</h6>
          <div class="small mb-1 rating"><i class="bi bi-star-fill"></i> 3.7 • 45–55 mins</div>
          <div class="text-muted small truncate">Home-Style Meals</div>
          <div class="text-muted small">KarveNagar Pune-52
            <button class="btn btn-outline-success card-button">Add</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Card End -->

    <div class="col-md-3 col-sm-6">
      <div class="restaurant-card1">
        <div class="position-relative">
          <img src="https://cdn.britannica.com/98/235798-050-3C3BA15D/Hamburger-and-french-fries-paper-box.jpg" class="w-100 restaurant-img" alt="Asha Bhel">
          <div class="discount-banner">30% OFF UPTO ₹75</div>
        </div>
        <div class="p-3">
          <h6 class="mb-1">Shidori Kitchen</h6>
          <div class="small mb-1 rating"><i class="bi bi-star-fill"></i> 4.4 • 25–30 mins</div>
          <div class="text-muted small truncate">Home-Style Meals</div>
          <div class="text-muted small">KarveNagar Pune-52
            <button class="btn btn-outline-success card-button">Add</button>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3 col-sm-6">
      <div class="restaurant-card1">
        <div class="position-relative">
          <img src="https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="w-100 restaurant-img" alt="Asha Bhel">
          <div class="discount-banner">30% OFF UPTO ₹75</div>
        </div>
        <div class="p-3">
          <h6 class="mb-1">Shidori Kitchen</h6>
          <div class="small mb-1 rating"><i class="bi bi-star-fill"></i> 4.4 • 25–30 mins</div>
          <div class="text-muted small truncate">Home-Style Meals</div>
          <div class="text-muted small"> KarveNagar Pune-52
            <button class="btn btn-outline-success card-button">Add</button>
          </div>
        </div>
      </div>
    </div>



    <div class="col-md-3 col-sm-6">
      <div class="restaurant-card1">
        <div class="position-relative">
          <img src="https://media.istockphoto.com/id/639389404/photo/authentic-indian-food.jpg?s=612x612&w=0&k=20&c=gbfAu17L1gtHmuo5biByhfCefAtYUtGQpyxMmi9_Mus=" class="w-100 restaurant-img" alt="Asha Bhel">
          <div class="discount-banner">30% OFF UPTO ₹75</div>
        </div>
        <div class="p-3">
          <h6 class="mb-1">Shidori Kitchen</h6>
          <div class="small mb-1 rating"><i class="bi bi-star-fill"></i> 4.4 • 25–30 mins</div>
          <div class="text-muted small truncate">Home-Style Meals</div>
          <div class="text-muted small">KarveNagar Pune-52
            <button class="btn btn-outline-success card-button">Add</button>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3 col-sm-6">
      <div class="restaurant-card1">
        <div class="position-relative">
          <img src="https://assets3.thrillist.com/v1/image/3025806/414x310/crop;webp=auto;jpeg_quality=60;progressive.jpg" class="w-100 restaurant-img" alt="Asha Bhel">
          <div class="discount-banner">30% OFF UPTO ₹75</div>
        </div>
        <div class="p-3">
          <h6 class="mb-1">Shidori Kitchen</h6>
          <div class="small mb-1 rating"><i class="bi bi-star-fill"></i> 4.4 • 25–30 mins</div>
          <div class="text-muted small truncate">Home-Style Meals</div>
          <div class="text-muted small">KarveNagar Pune-52
            <button class="btn btn-outline-success card-button">Add</button>
          </div>
        </div>
      </div>
    </div>




    <div class="col-md-3 col-sm-6">
      <div class="restaurant-card1">
        <div class="position-relative">
          <img src="https://bespokehotels.com/arrocharhotel/wp-content/uploads/sites/122/2023/05/Food2-1920x1280.jpg" class="w-100 restaurant-img" alt="Asha Bhel">
          <div class="discount-banner">30% OFF UPTO ₹75</div>
        </div>
        <div class="p-3">
          <h6 class="mb-1">Shidori Kitchen</h6>
          <div class="small mb-1 rating"><i class="bi bi-star-fill"></i> 4.4 • 25–30 mins</div>
          <div class="text-muted small truncate">Home-Style Meals</div>
          <div class="text-muted small">KarveNagar Pune-52
            <button class="btn btn-outline-success card-button">Add</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="restaurant-card1">
        <div class="position-relative">
          <img src="https://www.swanhotel.com/wp-content/uploads/2022/12/SwanHotelSpa_FOOD2022-25-scaled.jpg" class="w-100 restaurant-img" alt="Asha Bhel">
          <div class="discount-banner">30% OFF UPTO ₹75</div>
        </div>
        <div class="p-3">
          <h6 class="mb-1">Shidori Kitchen</h6>
          <div class="small mb-1 rating"><i class="bi bi-star-fill"></i> 4.4 • 25–30 mins</div>
          <div class="text-muted small truncate">Home-Style Meals</div>
          <div class="text-muted small">KarveNagar Pune-52
            <button class="btn btn-outline-success card-button">Add</button>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3 col-sm-6">
      <div class="restaurant-card1">
        <div class="position-relative">
          <img src="https://static.toiimg.com/thumb/61359983.cms?resizemode=4&width=1200" class="w-100 restaurant-img" alt="Asha Bhel">
          <div class="discount-banner">30% OFF UPTO ₹75</div>
        </div>
        <div class="p-3">
          <h6 class="mb-1">Shidori Kitchen</h6>
          <div class="small mb-1 rating"><i class="bi bi-star-fill"></i> 4.4 • 25–30 mins</div>
          <div class="text-muted small truncate">Home-Style Meals</div>
          <div class="text-muted small">KarveNagar Pune-52
            <button class="btn btn-outline-success card-button">Add</button>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3 col-sm-6">
      <div class="restaurant-card1">
        <div class="position-relative">
          <img src="https://s2.dmcdn.net/v/Plezn1Vns1D6stFNt/x480" class="w-100 restaurant-img" alt="Asha Bhel">
          <div class="discount-banner">30% OFF UPTO ₹75</div>
        </div>
        <div class="p-3">
          <h6 class="mb-1">Shidori Kitchen</h6>
          <div class="small mb-1 rating"><i class="bi bi-star-fill"></i> 4.4 • 25–30 mins</div>
          <div class="text-muted small truncate">Home-Style Meals</div>
          <div class="text-muted small">KarveNagar Pune-52
            <button class="btn btn-outline-success card-button">Add</button>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3 col-sm-6">
      <div class="restaurant-card1">
        <div class="position-relative">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpICYrT7YCpSefG3ivHfR756cRJbu1u7WFsg&s" class="w-100 restaurant-img" alt="Asha Bhel">
          <div class="discount-banner">30% OFF UPTO ₹75</div>
        </div>
        <div class="p-3">
          <h6 class="mb-1">Shidori Kitchen</h6>
          <div class="small mb-1 rating"><i class="bi bi-star-fill"></i> 4.4 • 25–30 mins</div>
          <div class="text-muted small truncate">Home-Style Meals</div>
          <div class="text-muted small">KarveNagar Pune-52
            <button class="btn btn-outline-success card-button">Add</button>
          </div>
        </div>
      </div>
    </div>



    <div class="col-md-3 col-sm-6">
      <div class="restaurant-card1">
        <div class="position-relative">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZ9Nwsn3M9zaDOFuLygfbYNEEfYcHMNyqTDw&s" class="w-100 restaurant-img" alt="Asha Bhel">
          <div class="discount-banner">30% OFF UPTO ₹75</div>
        </div>
        <div class="p-3">
          <h6 class="mb-1">Shidori Kitchen</h6>
          <div class="small mb-1 rating"><i class="bi bi-star-fill"></i> 4.4 • 25–30 mins</div>
          <div class="text-muted small truncate">Home-Style Meals</div>
          <div class="text-muted small">KarveNagar Pune-52
            <button class="btn btn-outline-success card-button">Add</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="restaurant-card1">
        <div class="position-relative">
          <img src="https://wc-flavours-cinnamonhotels.s3.ap-southeast-1.amazonaws.com/2021/04/cinnamon_banner_5-5.jpg" class="w-100 restaurant-img" alt="Asha Bhel">
          <div class="discount-banner">30% OFF UPTO ₹75</div>
        </div>
        <div class="p-3">
          <h6 class="mb-1">Shidori Kitchen</h6>
          <div class="small mb-1 rating"><i class="bi bi-star-fill"></i> 4.4 • 25–30 mins</div>
          <div class="text-muted small truncate">Home-Style Meals</div>
          <div class="text-muted small">KarveNagar Pune-52
            <button class="btn btn-outline-success card-button">Add</button>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3 col-sm-6">
      <div class="restaurant-card1">
        <div class="position-relative">
          <img src="https://content.jdmagicbox.com/v2/comp/mumbai/e1/022pxx22.xx22.231027234005.j9e1/catalogue/hotel-darbar-panvel-navi-mumbai-restaurants-qeh4p1dq3d.jpg" class="w-100 restaurant-img" alt="Asha Bhel">
          <div class="discount-banner">30% OFF UPTO ₹75</div>
        </div>
        <div class="p-3">
          <h6 class="mb-1">Shidori Kitchen</h6>
          <div class="small mb-1 rating"><i class="bi bi-star-fill"></i> 4.4 • 25–30 mins</div>
          <div class="text-muted small truncate">Home-Style Meals</div>
          <div class="text-muted small">KarveNagar Pune-52
            <button class="btn btn-outline-success card-button">Add</button>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3 col-sm-6">
      <div class="restaurant-card1">
        <div class="position-relative">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzWrJX2874G7MCl9BWpamCtLdRzl3rJDerbw&s" class="w-100 restaurant-img" alt="Asha Bhel">
          <div class="discount-banner">30% OFF UPTO ₹75</div>
        </div>
        <div class="p-3">
          <h6 class="mb-1">Shidori Kitchen</h6>
          <div class="small mb-1 rating"><i class="bi bi-star-fill"></i> 4.4 • 25–30 mins</div>
          <div class="text-muted small truncate">Home-Style Meals</div>
          <div class="text-muted small">KarveNagar Pune-52
            <button class="btn btn-outline-success card-button">Add</button>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3 col-sm-6">
      <div class="restaurant-card1">
        <div class="position-relative">
          <img src="https://pragaticomputereducation.in/wp-content/uploads/2024/02/nonveg.jpg" class="w-100 restaurant-img" alt="Asha Bhel">
          <div class="discount-banner">30% OFF UPTO ₹75</div>
        </div>
        <div class="p-3">
          <h6 class="mb-1">Shidori Kitchen</h6>
          <div class="small mb-1 rating"><i class="bi bi-star-fill"></i> 4.4 • 25–30 mins</div>
          <div class="text-muted small truncate">Home-Style Meals</div>
          <div class="text-muted small">KarveNagar Pune-52
            <button class="btn btn-outline-success card-button">Add</button>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3 col-sm-6">
      <div class="restaurant-card1">
        <div class="position-relative">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzg52aef8zQvACEHVb2MFTjx9gWpjTmjMFYw&s" class="w-100 restaurant-img" alt="Asha Bhel">
          <div class="discount-banner">30% OFF UPTO ₹75</div>
        </div>
        <div class="p-3">
          <h6 class="mb-1">Shidori Kitchen</h6>
          <div class="small mb-1 rating"><i class="bi bi-star-fill"></i> 4.4 • 25–30 mins</div>
          <div class="text-muted small truncate">Home-Style Meals</div>
          <div class="text-muted small">KarveNagar Pune-52
            <button class="btn btn-outline-success card-button">Add</button>
          </div>
        </div>
      </div>
    </div>

 
    <div class="col-md-3 col-sm-6">
      <div class="restaurant-card1">
        <div class="position-relative">
          <img src="https://5.imimg.com/data5/ANDROID/Default/2021/7/UK/QS/JK/121291282/product-jpeg-500x500.jpg" class="w-100 restaurant-img" alt="Asha Bhel">
          <div class="discount-banner">30% OFF UPTO ₹75</div>
        </div>
        <div class="p-3">
          <h6 class="mb-1">Shidori Kitchen</h6>
          <div class="small mb-1 rating"><i class="bi bi-star-fill"></i> 4.4 • 25–30 mins</div>
          <div class="text-muted small truncate">Home-Style Meals</div>
          <div class="text-muted small">KarveNagar Pune-52
            <button class="btn btn-outline-success card-button">Add</button>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3 col-sm-6">
      <div class="restaurant-card1">
        <div class="position-relative">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbKKESuaKytZb-EY_HtX_9wLihv8Ay5FpNew&s" class="w-100 restaurant-img" alt="Asha Bhel">
          <div class="discount-banner">30% OFF UPTO ₹75</div>
        </div>
        <div class="p-3">
          <h6 class="mb-1">Shidori Kitchen</h6>
          <div class="small mb-1 rating"><i class="bi bi-star-fill"></i> 4.4 • 25–30 mins</div>
          <div class="text-muted small truncate">Home-Style Meals</div>
          <div class="text-muted small">KarveNagar Pune-52
            <button class="btn btn-outline-success card-button">Add</button>
          </div>
        </div>
      </div>
    </div>



    <div class="col-md-3 col-sm-6">
      <div class="restaurant-card1">
        <div class="position-relative">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmZ864uJ5vcQcyRo3M8JaBTx9f3Vsdu2ixsQ&s" class="w-100 restaurant-img" alt="Asha Bhel">
          <div class="discount-banner">30% OFF UPTO ₹75</div>
        </div>
        <div class="p-3">
          <h6 class="mb-1">Shidori Kitchen</h6>
          <div class="small mb-1 rating"><i class="bi bi-star-fill"></i> 4.4 • 25–30 mins</div>
          <div class="text-muted small truncate">Home-Style Meals</div>
          <div class="text-muted small">KarveNagar Pune-52
            <button class="btn btn-outline-success card-button">Add</button>
          </div>
        </div>
      </div>
    </div>



    <div class="col-md-3 col-sm-6">
      <div class="restaurant-card1">
        <div class="position-relative">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTGnmbjy1rodN7WQrmBv3rXJXwUXimqJMUvA&s" class="w-100 restaurant-img" alt="Asha Bhel">
          <div class="discount-banner">30% OFF UPTO ₹75</div>
        </div>
        <div class="p-3">
          <h6 class="mb-1">Shidori Kitchen</h6>
          <div class="small mb-1 rating"><i class="bi bi-star-fill"></i> 4.4 • 25–30 mins</div>
          <div class="text-muted small truncate">Home-Style Meals</div>
          <div class="text-muted small">KarveNagar Pune-52
            <button class="btn btn-outline-success card-button">Add</button>
          </div>
        </div>
      </div>
    </div>



    <div class="col-md-3 col-sm-6">
      <div class="restaurant-card1">
        <div class="position-relative">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYoiW93MqqBRTnRDgxuQkngVFhlRk4b1WOnw&s" class="w-100 restaurant-img" alt="Asha Bhel">
          <div class="discount-banner">30% OFF UPTO ₹75</div>
        </div>
        <div class="p-3">
          <h6 class="mb-1">Shidori Kitchen</h6>
          <div class="small mb-1 rating"><i class="bi bi-star-fill"></i> 4.4 • 25–30 mins</div>
          <div class="text-muted small truncate">Home-Style Meals</div>
          <div class="text-muted small">KarveNagar Pune-52
            <button class="btn btn-outline-success card-button">Add</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>


<div class="container my-5">
  <h4 class="fw-bold mb-4">Explore localities in and around You</h4>
  <div class="row gy-3">
    <!-- Locality Items -->
    <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">Maharashtra</div></div>
    <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">Gujarat</div></div>
    <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">Andhra Pradesh</div></div>
    <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">Arunachal Pradesh</div></div>
    
    <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">Assam</div></div>
    <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">Bihar</div></div>
    <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">Goa</div></div>
    <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">Haryana</div></div>

    <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">Himachal Pradesh</div></div>
    <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">Jharkhand</div></div>
    <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">Karnataka</div></div>
    <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">Kerala</div></div>
    
   <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">Manipur</div></div>
    <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">Meghalaya</div></div>
    <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">Nagaland</div></div>
    <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">Odisha</div></div>

    <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">Punjab</div></div>
    <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">Rajasthan</div></div>
    <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">Sikkim</div></div>
    <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">Tamil Nadu</div></div>

    <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">Telangana</div></div>
    <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">Tripura</div></div>
    <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">Uttar Pradesh</div></div>
    <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">Uttarakhand</div></div>

    <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">West Bengal</div></div>
    <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">Chhattisgarh</div></div>
    <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">Mizoram</div></div>
    <!-- <div class="col-6 col-sm-4 col-md-2 "><div class="locality-btn">Tamil Nadu</div></div> -->
  </div>
</div>


</div>




<app-footer></app-footer>















