.img_height{
    height: 580px;
}
.carousel-caption{
    margin-left: -200px;
    margin-bottom:150px;
}
.tiffino{
    font-weight: bold;
    font-size:80px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.searchbar{
  width: 40%;
  border-radius: 40px;
}
.all{
  position: relative;
  top: 5rem;
}

.category-item img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 10px;
    }
    .category-item {
      text-align: center;
      font-weight: 500;
     
    }


    .d-flex.w-100.overflow-auto {
  scrollbar-width: none; 
}

.d-flex.w-100.overflow-auto::-webkit-scrollbar {
  display: none; 
}



.heading{
    font-weight: bold;
    font-size: 25px;

}
.box1{
    height: 310px;
    border-bottom: 1px solid rgb(216, 211, 211);
    /* background-color: rgb(247, 249, 249); */
}
.topcard_button{
  margin-left: 230px;
  margin-top:-70px;
}

    .scroll-container {
      display: flex;
      overflow-x: auto;
      scroll-behavior: smooth;
      gap: 1rem;
      padding-bottom: 80px;
      /* border-bottom: 1px solid black; */
    border-bottom: 1px solid rgb(216, 211, 211);
    }

    .cards {
    border-bottom: 1px solid rgb(216, 211, 211);
    margin-top: -80px;
    }  
    
    .restaurant-card {
      min-width: 312px;
      flex: 0 0 auto;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      background: #fff;
      transform: translateY(-10px)

    }

    .shidori-card{
      min-width: 312px;
      flex: 0 0 auto;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      background: #fff;
    }

    .img-fluid{
        border-radius: 20px;
        height: 200px;
        width: 100%;
    }

    .restaurant-img{
      border-radius: 20px;
      height: 190px;
      
    }

    .rating {
      color: #28a745;
      font-weight: 600;
    }

.search-bar {
      background-color: #f1f1f6;
      border-radius: 1.5rem;
      padding: 0.5rem 1rem;
      width: 50%;

    }
    .search-input {
      border: none;
      background: transparent;
      outline: none;
      box-shadow: none;
      justify-content: center;
      align-items: center;
      

    }
    .search-icon {
      color: #060606;
      justify-content: center;
      margin-top: 6px;
      margin-right: 5px;
    }


    .restaurant-card1:hover {
      transform: translateY(-10px);
    }

    .restaurant-card1{
      min-width: 312px;
      flex: 0 0 auto;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      background: #fff;
      padding-bottom: 0px !important;
    }
    .card-button{
      margin-left: 190px;
      margin-top: -26px;    
    }


    .locality-btn {
      width: 100%;
      margin-bottom: 10px;
      padding: 10px;
      background-color: #f2f3f4; 
      border: 1px solid #dee2e6;
      border-radius: 10px;
      text-align: center;
      font-weight: 600;
      color: #212529;
      cursor: pointer;
      
    ;
    }

    .locality-btn:hover {
      background-color: #e9ecef;
      color: red;
    }
    .locality{
      margin-bottom: 10px;
      height: 450px;
    }
    
   .pricing-card {
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      transition: 0.3s;
      /* text-align: center; */
    }
    .pricing-card:hover {
      transform: translateY(-5px);
      border:2px solid #ff6600 ;
    }
    .subscribe-btn {
      background-color: #ff6600;
      color: #fff;
      font-weight: bold;
      border-radius: 8px;
    }
    .subscribe-btn:hover {
      background-color: #e65c00;
    }
 .price-banner{
  margin-left: 20px;
  margin-top: 10px;
 }


.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: flex;
  white-space: nowrap;
  will-change: transform;
}


.category-item img {
  width: 60%;
  border-radius: 50%;
}
.cloudKitcen{
  margin-left: 20px;
}
