.container{
    margin-top: 100px;
}
.row{
    height: 70px;
    background-color: aqua;
    width: 70%;
   margin-left: 15%;
}

.ratting{
  margin-right: 250px;
}


.card {
  border-radius: 10px;
  border: 1px solid #ddd;
}
.img-thumbnail {
  border-radius: 8px;
}



.card {
  border-radius: 10px;
  border: 1px solid #ddd;
}

.img-thumbnail {
  border-radius: 8px;
}

h6 {
  font-size: 16px;
}
