<div class="position-fixed top-0 start-0 end-0 z-3">
  <app-navbar></app-navbar>
</div>

<div class="main">
<div *ngIf="data; else loading" class="profile-card">
  <div class="profile-header">
   <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-image-182145777.jpg" 
     alt="User Avatar" 
     class="rounded-circle border border-2 border-light shadow profile-icon">
    <h2>User Profile</h2>
  </div>

  <div class="profile-content">
    <div class="profile-column">
      <p><strong>Name:</strong> {{ data?.userName || 'Not provided' }}</p>
      <p><strong>Email:</strong> {{ data?.email || 'Not provided' }}</p>
      <p><strong>Phone:</strong> {{ data?.phoneNo || 'Not provided' }}</p>
    </div>

    <div class="profile-column">
      <p><strong>Address:</strong> {{ data?.address || 'Not provided' }}</p>
      <p><strong>Meal Preference:</strong> {{ data?.mealPreference || 'Not provided' }}</p>
      <p><strong>Dietary Needs:</strong> {{ data?.dietaryNeeds || 'Not provided' }}</p>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="loading">Loading profile...</div>
</ng-template>
</div>
