<div class="row w-100 gx-4">
    <div class="col-3 mb-3" *ngFor="let row of data">
  <div
    class="card pricing-card p-4 text-center"
        
    >
        <h4 class="fw-bold">Monthly</h4>
        <h5 class="text-muted">{{row.price}}/month</h5>
        <ul class="list-unstyled text-start">
            <li>✅ Free delivery</li>
            <li>✅ Weekly menu rotation</li>
            <li>✅ Priority support</li>
            <li>✅ Customizable menu</li>
        </ul>
        <button class="btn subscribe-btn w-100 mt-3">Subscribe Now</button>
    </div>
    </div>
</div>
