
<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="background-wrapper justify-content-center">
    <div class="login-card">
    <div class="login-header">Login</div>

    <form [formGroup]="allLoginForms" >
      <input type="email" class="form-control" placeholder="User Id" formControlName="emailOrId">
      <input type="password" class="form-control" placeholder="Your password" formControlName="password">
      <a routerLink="/forgot_password">Forgot Password?</a>
      <button type="submit" class="btn btn-custom" (click)="login()">LOG IN</button>
      <br><br>
      <span >You don't have an account? <a routerLink="/create_account">SignUp</a></span>
    </form>
  </div> 
</div>
  </div>
</div> 



   


