h4{
    margin-left: 195px;
    font-weight: bold;
}
.button{
 margin-left: 250px;
 margin-top: 10px;
 margin-bottom: 10px;
 border-radius: 8px;
}
.card-header{
    margin-left: 500px;
    font-weight: bold;
}
.card-body{
border-bottom: 1px solid black;    
}
.card-title{
   font-weight: bold; 
}

.text{
    margin-top: 15px;
    margin-left: 30px;
    font-weight: bold;
}

