<div class="container d-flex justify-content-center">
  <div class="card shadow p-3">
    <h3 class="text-center fw-bold">Add Offer</h3>
    <form>

      <!-- Name -->
      <div class="mb-2">
        <label for="description" class="form-label">Description</label>
        <input type="text" id="name" class="form-control custom-border" name="description" required>
      </div>

      <!-- Description -->
      <div class="mb-2">
        <label for="termsAndConditions" class="form-label">Terms And Conditions</label>
        <textarea class="form-control custom-border" name="termsAndConditions" rows="3"></textarea>
      </div>

      <!-- Price -->
      <div class="mb-2">
        <label for="targetGroup" class="form-label">Target Group</label>
        <input type="text" id="price" class="form-control custom-border"  name="targetGroup" required>
      </div>

      <div class="mb-2">
        <label for="subscriptionId" class="form-label">Subscription_Id</label>
        <input type="number" id="price" class="form-control custom-border"  name="subscriptionId" required>

      </div>

      <!-- Submit -->
      <button type="submit" class="button border-0 w-100 text-white p-1">Submit</button>
    </form>
  </div>
</div>



