
     <div class="container">
        <div class="row">
            <div class="col-md-6">
             <div class="card shadow-sm p-1">
        <h4 class="mb-4">Add Manager</h4>
        
        <form>
          <div class="row">
          <div class="col-md-6">
            <label class="form-label">Manager Name</label>
            <input type="text" class="form-control" placeholder="Enter Name"  name="managerName" required>
          </div>

          <div class="col-md-6">
            <label class="form-label">Email</label>
            <input type="email" class="form-control"placeholder="Enter Email" name="managerEmail" required>
          </div>
          </div>


           <div class="row">
          <div class="col-md-6">
            <label class="form-label">dob</label>
            <input type="date" class="form-control"placeholder="Enter dob"  name="dob" required>
          </div>

          <div class="col-md-6">
            <label class="form-label">phone No</label>
            <input type="number" class="form-control"placeholder="Enter Phone_No" name="phoneNo" required>
          </div>
          </div>


           <div class="row">
          <div class="col-md-6">
            <label class="form-label">current Address</label>
            <input type="text" class="form-control"placeholder="Enter Current Address"  name="currentAddress" required>
          </div>

          <div class="col-md-6">
            <label class="form-label">permeant Address</label>
            <input type="text" class="form-control"placeholder="Enter Parmanent Address" name="permeantAddress" required>
          </div>
          </div>


           <div class="row">
          <div class="col-md-6">
            <label class="form-label">Adhar Card</label>
            <input type="file" class="form-control"placeholder="Enter Adhar Card"  name="adharCard" required>
          </div>

          <div class="col-md-6">
            <label class="form-label">Pan Card</label>
            <input type="file" class="form-control"placeholder="Enter PanCard" name="panCard" required>
          </div>
          </div>

           <div class="row">
          <div class="col-md-6">
            <label class="form-label">Photo</label>
            <input type="file" class="form-control"placeholder="Enter Photo"  name="photo" required>
          </div>

          <div class="col-md-6">
            <label class="form-label">Password</label>
            <input type="password" class="form-control"placeholder="Enter PassWord" name="password" required>
          </div>
          </div>

           <div class="row">
          <div class="col-md-6">
            <label class="form-label">City</label>
            <input type="text" class="form-control"placeholder="Enter City"  name="city" required>
          </div>

          <div class="col-md-6">
            <label class="form-label">Cloud Kitchen Id</label>
            <input type="text" class="form-control"placeholder="Enter Cloude Kitchen_Id" name="cloudKitchenId" required>
          </div>
          </div>

        

          <div class="col-12">
            <button class=" button btn-dark" >Submit</button>
          </div>
        </form>
      </div>
    </div>


    <div class="col-md-6">
     <div class="card shadow-sm mt-">
        <div class="card-header">Cloud Kitchen Data</div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-bordered table-striped mb-0">
              <thead class="table-light">
                <tr>
                  <th>#</th>
                  <th>Cloude Kitchen_Id</th>
                  <th>State</th>
                  <th>City</th>
                  <th>Division</th>
                  <th>Manager_Id</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
            </div>
        </div>
    </div> 


    