<div class="container d-flex justify-content-center">
  <div class="card shadow p-3">
    <h3 class="text-center fw-bold">Add Meals</h3>
    <form>

      <!-- Name -->
      <div class="mb-2">
        <label for="name" class="form-label">Meal Name</label>
        <input type="text" id="name" class="form-control custom-border" name="name" required>
      </div>

      <!-- Description -->
      <div class="mb-2">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control custom-border" name="description" rows="3"></textarea>
      </div>

      <!-- Price -->
      <div class="mb-2">
        <label for="" class="form-label">Nutritional Information</label>
        <input type="text" id="price" class="form-control custom-border"  name="nutritional information" required>
      </div>

      <div class="mb-2">
        <label for="price" class="form-label">Price</label>
        <input type="number" id="price" class="form-control custom-border"  name="price" required>

      </div>

      <div class="mb-2">
        <label for="CuisineId" class="form-label">Cuisine Name</label>
        <input type="text" id="cuisineid" class="form-control custom-border"  name="cuisinename" required>

      </div>

     

      <!-- Submit -->
      <button type="submit" class="button border-0 w-100 text-white p-1">Submit</button>
    </form>
  </div>
</div>


