<div class="container d-flex justify-content-center">
  <div class="card shadow p-3">
    <h3 class="text-center fw-bold">Add Meals</h3>
    <form [formGroup]="addMealsForm" (ngSubmit)="saveMeals()">

      <!-- Name -->
      <div class="mb-2">
        <label for="name" class="form-label">Meal Name</label>
        <input type="text" id="name" class="form-control custom-border" formControlName="name" required>
      </div>

      <!-- Description -->
      <div class="mb-2">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control custom-border" formControlName="description" rows="1"></textarea>
      </div>

      <!-- Price -->
      <div class="mb-2">
        <label for="" class="form-label">Nutritional Information</label>
        <input type="text" id="price" class="form-control custom-border"  formControlName="nutritionalInformation" required>
      </div>

      <div class="mb-2">
        <label for="price" class="form-label">Price</label>
        <input type="number" id="price" class="form-control custom-border"  formControlName="price" required>

      </div>
      <div class="mb-2">
        <label for="image" class="form-label">Image</label>
        <input type="file" class="form-control" (change)="onFileSelect($event, 'photos')" required />


      </div>

      <div class="mb-2">
        <label for="duration" class="form-label" >Cuisine Name</label>
       <select class="form-select custom-border" aria-label="Default select example" formControlName="cuisineId">
        <option value="" disabled >Select Cuisine Name</option>
        <option *ngFor="let row of data" value="{{row.cuisineId}}">{{row.name}}</option>
        
      </select>
      </div>

     

      <!-- Submit -->
      <button type="submit" class="button border-0 w-100 text-white p-1">Submit</button>
    </form>
  </div>
</div>


