
    <div class="container mt-5">
      <div class="card shadow-sm p-4">
        <h4 class="mb-3">Add Cloud Kitchen</h4>
        <form [formGroup]="cloudKitchenForm">
          
          <!-- State -->
          <div class="mb-3">
            <label class="form-label">State </label>
            <input type="text" class="form-control custom-border" placeholder="Enter State" formControlName="state"  required>
          </div>

          <!-- City -->
          <div class="mb-3">
            <label class="form-label">City</label>
            <input type="text" class="form-control custom-border"placeholder="Enter City" formControlName="city"  required>
          </div>

          <!-- Division -->
          <div class="mb-3">
            <label class="form-label">Division </label>
            <input type="text" class="form-control custom-border"placeholder="Enter Division" formControlName="division"  required>
          </div>

          <!-- Button -->
          <button class=" button border-0 w-100 text-white p-1" (click)="addCloudKitchen()" >Submit</button>
        </form>
      </div>
    </div>
  


