.main{
    margin-top: 100px;
}
.restaurant-img{
      border-radius: 20px;
      height: 190px;
    }
    .card-button{
      margin-left: 180px;
      margin-top: -26px;    
    }
    .restaurant-card1{
      min-width: 312px;
      flex: 0 0 auto;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      background: #fff;
      padding-bottom: 0px !important;
    }